*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --dark-blue: #006d77;
    --light-blue: #83c5be;
    --fonts: #edf6f9;
    --fonts-2: #ffddd2;
    --post-it: #e29578;
}

body{
    background-color: var(--light-blue);
}

.nav-bar{
    align-items: center;
    background-color: var(--dark-blue);
    display: flex;
    justify-content: flex-start;
    padding: 1vh 3vw;
}

.nav-bar img{
    height: 10vh;
}

.nav-bar h1{
    color: var(--fonts);
    font-family: 'Dancing Script', cursive;
    font-size: 5vh;
    margin-left: 2vw;
}

section h2{
    border-bottom: 2px solid var(--dark-blue);
    font-family: 'Roboto', sans-serif;
    font-size: 5vh;
    margin: 5vh auto 2vh;
    text-align: center;
    width: 80vw;
}

section h3{
    font-family: 'Roboto', sans-serif;
    font-size: 3vh;
    font-weight: 200;
    text-align: center;
}

.container{
    align-items: center;
    display: flex;
    height: 65vh;
    justify-content: center;
    margin: 3vh 0 0;
    width: 100vw;
}

.container figure{
    flex: 1;
}

figure{
    align-items: center;
    display: flex;
    justify-content: center;
}

figure img{
    width: 80%;
}

.container .form{
    flex: 1;
}

.form{
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.form p{
    border-top: 2px solid black;
    display: flex;
    flex-direction: column;
    margin: 1vh 0;
    padding: 2vh;
    position: relative;
    width: 80%;
}

.form p:last-child{
    flex-direction: row;
    justify-content: space-around;
    border: none;
    margin: 0;
    width: 80%;
}

.form p label{
    background-color: var(--light-blue);
    left: 1vw;
    padding: 0 1vw;
    position: absolute;
    top: -1.5vh;
}

.form p input{
    border-radius: 1vh;
    height: 5vh;
    padding-left: 1vw;
    width: 100%;
}

.btn{
    border-radius: 1vh;
    box-shadow: 2px 2px 5px black;
    cursor: pointer;
    font-size: 2vh;
    font-weight: 300;
    line-height: 5vh;
    text-transform: uppercase;
    transition: 0.3s;
    width: 7vw;
}

.btn-cancel{
    background-color: #fc2f2f;
}

.btn-cancel:hover{
    background-color: var(--light-blue);
    border: 5px solid #fc2f2f;
    color: #fc2f2f;
    font-weight: bold;
}

.btn-check{
    background-color: #fdfd4a;
}

.btn-check:hover{
    background-color: var(--light-blue);
    border: 5px solid #fdfd4a;
    color: #fdfd4a;
    font-weight: bold;
}

.btn-add{
    background-color: #268d26;
}

.btn-add:hover{
    background-color: var(--light-blue);
    border: 5px solid #268d26;
    color: #268d26;
    font-weight: bold;
}

.container .post-it{
    flex: 1;
    height: 100%;
    position: relative;
}

.post-it h2{
    left: 50%;
    margin: 0;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    width: 80%;
}

#container-note{
    margin-top: 10vh;
    width: 100%;
}

.note{
    margin: 1vh auto;
    padding: 1vh;
    width: 80%;
}

.btn-menu{
    border: 2px solid var(--dark-blue);
    border-radius: 1vh;
    bottom: 4vh;
    padding: 10px;
    position: absolute;
    right: 4vw;
    transition: 0.3s;
}

.btn-menu:hover{
    border: 2px solid whitesmoke;
}

.btn-menu a{
    color: var(--dark-blue);
    font-size: 3vh;
    text-decoration: none;
    transition: 0.3s;
}

.btn-menu a:hover{
    color: whitesmoke;
    text-decoration: none;
}