*{
    box-sizing: border-box;
    font-family: monospace;
    margin: 0;
    padding: 0;
}

:root{
    --background: #0D3B66;
    --color-1: #FAF0CA;
    --color-2: #F4D35E;
    --color-3: #678D58;
    --color-4: #A393BF;
}

.main{
    align-items: center;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

.main h1{
    color: var(--color-1);
    font-size: 5vh;
}

.main h2{
    color: var(--color-1);
    font-size: 4vh;
    margin-bottom: 2vh;
    margin-top: 5vh;
}

.btn{
    border-radius: 1vh;
    box-shadow: 3px 3px 10px black;
    color: black;
    cursor: pointer;
    font-size: 3vh;
    height: 8vh;
    margin: 0 2vw;
    width: 10vw;
}

.btn:nth-child(1){
    background-color: var(--color-3);
}

.btn:nth-child(2){
    background-color: var(--color-4);
}

.btn-effect-1, .btn-effect-2{
    position: relative;
    transition: 0.5s;
}

.btn-effect-1::after{
    content: '\f30b';
    font-family: FontAwesome;
    opacity: 0;
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.5s;
}

.btn-effect-1:hover{
    text-indent: -20px;
}

.btn-effect-1:hover::after{
    opacity: 1;
    text-indent: 0;
}

.btn-effect-2::after{
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0 1vh 1vh 0;
    content: '\f0a4';
    display: flex;
    font-family: FontAwesome;
    height: 100%;
    justify-content: center;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.5s;
    width: 0vw;
}

.btn-effect-2:hover{
    text-indent: -30px;
}

.btn-effect-2:hover::after{
    opacity: 1;
    text-indent: 0;
    width: 2vw;
}

.btn-effect-3{
    overflow: hidden;
    position: relative;
}

.btn-effect-3::after{
    align-items: center;
    content: '\f30b';
    display: flex;
    font-family: FontAwesome;
    font-size: 6vh;
    height: 0;
    justify-content: center;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transition: 0.2s;
    width: 100%;
}

.btn-effect-3:hover{
    text-indent: -9999px;
}

.btn-effect-3:hover::after{
    text-indent: 0;
    height: 100%;
}

.btn-effect-4{
    position: relative;
    transition: 0.3s;
}

.btn-effect-4:hover{
    background-color: var(--color-1);
    box-shadow: 0px 0px 20px var(--color-2);
}


.btn-menu{
    border: 2px solid #fca311;
    border-radius: 1vh;
    bottom: 4vh;
    padding: 10px;
    position: absolute;
    right: 4vw;
    transition: 0.3s;
}

.btn-menu:hover{
    border: 2px solid whitesmoke;
}

.btn-menu a{
    color: #fca311;
    font-size: 3vh;
    text-decoration: none;
    transition: 0.3s;
}

.btn-menu a:hover{
    color: whitesmoke;
    text-decoration: none;
}
